{% extends 'base.html' %}
{% block title %} LOGIN {% endblock %}

{% block content %}
<h1> LOGIN PAGE </h1>
Hey you!!Welcome back to your digital memory vault

<form method="POST" action="{{url_for('login')}}">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Login">

</form>

<a href="{{url_for('index')}}">Home</a>
<a href="{{url_for('signup')}}">Not a user?Signup</a>
<a href="{{url_for('create_memory')}}">Create Memory</a>
<a href="{{url_for('my_memories')}}">My Memories</a>


{% endblock %}
